
<p><%= link_to("新規追加", "/dialy/create") %></p>
<div class="">
    <table contentEditable="true">
        <thead>
            <tr>
                <th>役職</th>
                <td>CEO</td>
                <td>CTO</td>
                <td>社員</td>
            </tr>
            <tr>
                <th>名前</th>
                <td>星野</td>
                <td>星</td>
                <td>石川</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>header</th>
                <td><%= link_to("tddd","/dialy/edit") %></td>
                <td>tddd</td>
            </tr>
            <tr>
                <th>header</th>
                <td>tddd</td>
                <td>tddd</td>
            </tr>
            <tr>
                <th>header</th>
                <td>tddd</td>
                <td>tddd</td>
            </tr>
            <tr>
                <th>header</th>
                <td>tddd</td>
                <td>tddd</td>
            </tr>
        </tbody>
    </table>
</div>
